$font-sizes: (
  small: 0.875rem,
  base: 0.9375rem,
  medium: 1.125rem,
  large: 1.25rem,
  xlarge: 2rem,
  2xlarge: 2.5rem,
  3xlarge: 3.5rem,
);

$ff-default: "Inter", sans-serif;
$fw-medium: 400;
$fw-bold: 700;
$fw-xbold: 800;
